<div class="card">
    <div class="card-content">
        <span class="card-title red-text">Carrito</span>
        <div class="red-text right">
            Total Pagar: S/ {{total}}
            <div>

                <a class="btn-floating waves-effect right green btn-small" (click)="Pagar()">
                    <i class="material-icons white-text text-lighten-2">payment</i></a>
                <a class="btn-floating waves-effect right red btn-small" (click)="Cancelar()">
                    <i class="material-icons white-text text-lighten-2">cancel</i></a>
            </div>

        </div>
        <div class="divider"></div>
        <div class="grupos-container">
            <div class="item-grupo" *ngFor="let item of productoscarro">
                <img class="img-grupo" [src]="item.imagen">
                <div class="black-text center">
                    {{item.nombre}}
                </div>
                <div class="red-text center">
                    Precio: S/{{item.precio}}
                </div>
                <div class="red-text center">
                    Cant: {{item.cant}}
                </div>
                <div class="red-text center">
                    SubTotal: S/ {{item.cant * item.precio}}
                </div>
            </div>
        </div>
    </div>
</div>