.card {
    height: 100%;
}

.grupos-container {
    display: flex;
    flex-flow: row wrap;
    margin-top: 25px;
}

.item-grupo {
    width: 20%;
    display: flex;
    flex-flow: column nowrap;
    height: 300px;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.img-grupo {
    width: 50%;
    height: 20%;
    border: 1px solid #e0e0e0;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.large-icon {
    font-size: 40px;
}